
.main{
  height:100vh;
  background-color: #1da8cb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 5px;
}

.cell{
  width:100px;
  height:100px;
  background-color: #bbb;
  border: 1px solid black;
  cursor: pointer;
  color: brown;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  width: 110px;
  height: 40px;
  font-size: 20px;
  color: rgb(199, 97, 18);
  background-color: rgb(16, 198, 137);
  border: none;
  cursor: pointer;
}
h1{
  color: rgb(197, 20, 117);
}
